:root{
    --bu-border: none;
    --bu-image: none;
}
.chatContent-a9vAAp /* chat */,
.membersWrap-2h-GB4 /* server members */,
.title-3qD0b- /* top bar - channel name, description, search */,
.sidebar-2K8pFh > nav /* channels, dms */,
.guilds-1SWlCJ /* servers */,
.applicationStore-1pNvnv /* nitro tab */,
.container-1D34oG /* online friends tab */,
.panels-j1Uci_ /* username, call controls, settings */{
    box-sizing: border-box;
    border: var(--bu-border);
    border-image: var(--bu-image);
}