@import url("https://mrtipson.github.io/DiscordCSS/css/server-bar.css");
@import url("https://mrtipson.github.io/DiscordCSS/css/base.css");
@import url("https://mrtipson.github.io/DiscordCSS/css/candy-land.css");

.theme-light {
    --logo-primary: rgb(0, 142, 236) /* discord nitro text, probably other stuff */;
    --header-primary: rgb(105, 105, 105) /* big text */;
    --header-secondary: #424242 /* subtext => id, active channel, code markdown, server of mention */;
    --text-normal: #000000 /* normal text */;
    --background-primary: rgba(255, 255, 255, 0.486) /* chat, call */;
    --background-secondary: rgba(255, 255, 255, 0.233) /* friends sidebar */;
    --background-secondary-alt: var(--background-primary) /* call controls, profile */ ;
    --background-tertiary: var(--background-primary) !important /* server list, find or start convo backgr */;
    --background-floating: rgb(185, 229, 255) /* context menus */;
    --channeltextarea-background: var(--background-primary) /* message textarea */;
    --deprecated-store-bg: var(--background-primary) /* friends or activity or something */;
    --deprecated-quickswitcher-input-background: transparent /* quick search text box */;
    --deprecated-card-editable-bg: rgba(255, 255, 255, 0.24) /* cards in settings (safe messaging, checkbox options) */;
	--autocomplete-bg: var(--background-floating) /* bot commands bg */;
    --interactive-normal: rgb(72, 72, 72) /* supposedly icons */;
    --interactive-muted: #4f545c /* muted channel, others */;
    --interactive-hover: rgb(130,130,130) /* hover color */;
    --text-link: rgb(247, 28, 255) /* hyperlink color */;
    --interactive-active: rgb(255, 82, 246) /* selected tab */;
    --text-muted: rgba(5, 5, 5, 0.7) /* non important text */;
    --channels-default: rgba(56, 56, 56, 0.952) /* channel not selected not hovered */;
    --background-accent: rgb(217, 219, 219) /* new messages */;
    --background-message-hover: rgba(255, 255, 255, 0.425) /* message background on hover */;
    --background-modifier-accent: rgba(95, 95, 95, 0.486) /* simmilar to border, but native to discord */;
    --background-modifier-hover: rgba(255, 255, 255, 0.246);
    --background-modifier-active: rgba(255, 255, 255, 0.37);
    --background-modifier-selected: rgba(255, 255, 255, 0.37);
    --deprecated-card-bg: transparent /* some cards in the settings */;
    --scrollbar-thin-thumb:rgba(109, 109, 109, 0.657) /* thin scrollbar (such as channels in server) */;
    --scrollbar-thin-track: transparent /* thin scrollbar track */;
    --scrollbar-auto-thumb: rgba(109, 109, 109, 0.657) /* thick scrollbar (such as active friends) */;
    --scrollbar-auto-track: rgba(85, 85, 85, 0.342) /* thick scrollbar */;
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    /* Custom variables - Theme */
    --color-main: rgb(255, 109, 248) /* main color theme */;
    --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23ffe282' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23e5cb75' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ffcb7c' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23ecb16c' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ffb382' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23ed976e' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ff9d93' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23e57f76' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23ff8ca9' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23d46c81' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ff82c1' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23ba5f8c' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    --background-filter: blur(5px) /* filter property applied to the background */;
    --background-markup: rgba(21, 21, 21, 0.08) /* background for code markup (``` blocks) */;
    --background-embed: rgba(255, 255, 255, 0.534) /* background for embeds (video links, ...) */;
    --background-modal: #91b8de /* main color of a modal dialog */;
    --background-dropdown: rgb(131, 218, 255) /* background of options in a dropdown */;
    --background-color: #00adff /* background color (for svg backgrounds and such) */;
    --messages-scroll-track: transparent /* scrollbar background - only for messages */;
    --messages-scroll-thumb: rgba(109, 109, 109, 0.657) /* basic scroller */;
    --progress-thumb: rgb(71, 71, 71) /* volume bar thumb */;
    --progress-track-full: rgb(230, 230, 230) /* volume bar track - filled */;
    --progress-track-empty: rgba(109, 109, 109, 0.507) /* volume bar track - empty */;
    --radio-bar-accent-color: rgba(0, 0, 0, 0.719) /* border around radio buttons in settings */;
    --radio-group-dot-foreground: black /* dot color for radio buttons in settings */;
}
.theme-dark {
    --logo-primary: rgb(0, 142, 236) /* discord nitro text, probably other stuff */;
    --header-primary: rgb(238, 238, 238) /* big text */;
    --header-secondary: #cacaca /* subtext => id, active channel, code markdown, server of mention */;
    --text-normal: #d1d1d1 /* normal text */;
    --background-primary: rgba(14, 14, 14, 0.329) /* chat, call */;
    --background-secondary: #ffffff18 /* friends sidebar */;
    --background-secondary-alt: var(--background-primary) /* call controls, profile */ ;
    --background-tertiary: rgba(0, 0, 0, 0.24) !important /* server list, find or start convo backgr */;
    --background-floating: #3a5e7c /* context menus */;
    --channeltextarea-background: var(--background-primary) /* message textarea */;
    --deprecated-store-bg: var(--background-primary) /* friends or activity or something */;
    --deprecated-quickswitcher-input-background: transparent /* quick search text box */;
    --deprecated-card-editable-bg: rgba(77, 77, 77, 0.24) /* cards in settings (safe messaging, checkbox options) */;
	--autocomplete-bg: var(--background-floating) /* bot commands bg */;
    --interactive-normal: rgb(179, 179, 179) /* supposedly icons */;
    --interactive-muted: #4f545c /* muted channel, others */;
    --interactive-hover: rgb(130,130,130) /* hover color */;
    --text-link: rgba(250, 108, 255, 0.726) /* hyperlink color */;
    --interactive-active: rgb(64, 242, 255) /* selected tab */;
    --text-muted: rgba(163, 163, 163, 0.7) /* non important text */;
    --channels-default: rgba(172, 172, 172, 0.952) /* channel not selected not hovered */;
    --background-accent: rgb(100, 100, 100); /* new messages */;
    --background-message-hover: rgba(29, 29, 29, 0.452) /* message background on hover */;
    --background-modifier-accent: rgba(219, 219, 219, 0.65) /* simmilar to border, but native to discord */;
    --background-modifier-hover: rgba(22, 22, 22, 0.418);
    --background-modifier-active: rgba(29, 29, 29, 0.425);
    --background-modifier-selected: rgba(0, 0, 0, 0.39);
    --deprecated-card-bg: transparent /* some cards in the settings */;
    --scrollbar-thin-thumb:rgba(192, 192, 192, 0.657) /* thin scrollbar (such as channels in server) */;
    --scrollbar-thin-track: transparent /* thin scrollbar track */;
    --scrollbar-auto-thumb: rgba(231, 231, 231, 0.657) /* thick scrollbar (such as active friends) */;
    --scrollbar-auto-track: rgba(185, 185, 185, 0.342) /* thick scrollbar */;
    --radio-bar-accent-color: white /* border around radio buttons in settings */;
    --radio-group-dot-foreground: white /* dot color for radio buttons in settings */;
    --elevation-low: 0 1px 0 rgba(251,251,250,0.2),0 1.5px 0 rgba(249,249,248,0.05),0 2px 0 rgba(251,251,250,0.05);
    /* Custom variables - Theme */
    --color-main: rgb(58, 176, 255) /* main color theme */;
    --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%233c74b5' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2379a2d3' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23447ab9' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2380abd2' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%234b80bc' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%238bb3d1' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%235387c0' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%2398bbcf' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%235a8dc3' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23a7c2ce' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%236293c7' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23b7c8ce' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    --background-filter: blur(5px) /* filter property applied to the background */;
    --background-markup: rgba(0, 0, 0, 0.267) /* background for code markup (``` blocks) */;
    --background-embed: rgba(134, 134, 134, 0.164) /* background for embeds (video links, ...) */;
    --background-modal: #234b80 /* main color of a modal dialog */;
    --background-dropdown: rgb(65, 65, 65) /* background of options in a dropdown */;
    --background-color: #3a5e7c /* background color (for svg backgrounds and such) */;
    --background-primary-extra: #223d53 /* pinned messages/mentions, buttons in server bar */;
    --messages-scroll-track: transparent /* scrollbar background - only for messages */;
    --messages-scroll-thumb: rgba(109, 109, 109, 0.657) /* basic scroller */;
    --progress-thumb: rgb(71, 71, 71) /* volume bar thumb */;
    --progress-track-full: rgb(230, 230, 230) /* volume bar track - filled */;
    --progress-track-empty: rgba(109, 109, 109, 0.507) /* volume bar track - empty */;
}
