@import url("https://mrtipson.github.io/DiscordCSS/css/server-bar.css");
@import url("https://mrtipson.github.io/DiscordCSS/css/base.css");

/* Pattern for light theme is from svgbackgrounds.com */
.theme-light {
    --logo-primary: rgb(0, 142, 236) /* discord nitro text, probably other stuff */;
    --header-primary: rgb(105, 105, 105) /* big text */;
    --header-secondary: #424242 /* subtext => id, active channel, code markdown, server of mention*/;
    --text-normal: rgb(10, 10, 10) /* normal text */;
    --background-primary: transparent /* chat, call */;
    --background-secondary: transparent /* friends sidebar */;
    --background-secondary-alt: transparent /* call controls, profile */ ;
    --background-tertiary: rgba(255, 255, 255, 0.158) !important /* server list, find or start convo backgr*/;
    --background-floating: rgb(243, 243, 243) /* context menus */;
    --channeltextarea-background: rgb(255, 230, 253) /* message textarea */;
    --deprecated-store-bg: var(--background-primary) /* friends or activity or something */;
    --deprecated-quickswitcher-input-background: transparent /* quick search text box */;
    --deprecated-card-editable-bg: rgba(255, 255, 255, 0.24) /* cards in settings (safe messaging, checkbox options)*/;
	--autocomplete-bg: var(--background-floating) /* bot commands bg */;
    --interactive-normal: rgb(72, 72, 72) /* supposedly icons */;
    --interactive-muted: #4f545c /* muted channel, others */;
    --interactive-hover: rgb(130,130,130) /* hover color*/;
    --text-link: rgb(247, 28, 255) /* hyperlink color */;
    --interactive-active: rgb(255, 0, 221) /* selected tab*/;
    --text-muted: rgba(5, 5, 5, 0.7) /* non important text */;
    --channels-default: rgba(56, 56, 56, 0.952) /* channel not selected not hovered*/;
    --background-accent: rgb(125, 218, 255); /* new messages */;
    --background-message-hover: rgba(204, 204, 204, 0.425) /* message background on hover */;
    --background-modifier-accent: rgba(122, 122, 122, 0.486) /* simmilar to border, but native to discord */;
    --background-modifier-hover: rgba(255, 184, 246, 0.246);
    --background-modifier-active: rgba(255, 184, 246, 0.246);
    --background-modifier-selected: rgba(255, 163, 250, 0.267);
    --deprecated-card-bg: rgba(246, 246, 246, 0.753) /* some cards in the settings */;
    --scrollbar-thin-thumb:rgba(92, 92, 92, 0.657) /* thin scrollbar (such as channels in server) */;
    --scrollbar-thin-track: transparent /* thin scrollbar track */;
    --scrollbar-auto-thumb: rgba(83, 83, 83, 0.657) /* thick scrollbar (such as active friends)*/;
    --scrollbar-auto-track: rgba(85, 85, 85, 0.342) /* thick scrollbar */;
	--bg-base-primary: var(--background-primary);
    /* Custom variables - Theme */
    --color-main: rgb(255, 123, 0) /* main color theme */;
    --background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23f4e0ff' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23f7dbff'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    --background-filter: none/* filter property applied to the background */;
    --background-markup: rgba(21, 21, 21, 0.08) /* background for code markup (``` blocks) */;
    --background-embed: rgba(255, 255, 255, 0.534) /* background for embeds (video links, ...) */;
    --background-modal: #ffffff /* main color of a modal dialog */;
    --background-dropdown: rgb(203, 224, 233) /* background of options in a dropdown */;
    --background-color: #ffffff /* background color (for svg backgrounds and such)*/;
    --progress-thumb: rgb(71, 71, 71) /* volume bar thumb */;
    --progress-track-full: rgb(97, 97, 97) /* volume bar track - filled */;
    --progress-track-empty: rgba(109, 109, 109, 0.507) /* volume bar track - empty */;
    --folder-shadow: -1px 0px 3px 0px black;
}
.theme-dark {
    --logo-primary: rgb(0, 142, 236) /* discord nitro text, probably other stuff */;
    --header-primary: rgb(238, 238, 238) /* big text */;
    --header-secondary: #cacaca /* subtext => id, active channel, code markdown, server of mention*/;
    --text-normal: #d1d1d1 /* normal text */;
    --background-primary: transparent /* chat, call */;
    --background-secondary: transparent /* friends sidebar */;
    --background-secondary-alt: transparent /* call controls, profile */ ;
    --background-tertiary: rgba(0,0,0,0.25) !important /* server list, find or start convo backgr*/;
    --background-floating: rgb(17, 17, 17) /* context menus */;
    --channeltextarea-background: rgb(16, 16, 16) /* message textarea */;
    --deprecated-store-bg: black /* friends or activity or something */;
    --deprecated-quickswitcher-input-background: rgb(42, 42, 42) /* quick search text box */;
    --deprecated-card-editable-bg: rgba(77, 77, 77, 0.24) /* cards in settings (safe messaging, checkbox options)*/;
	--autocomplete-bg: var(--background-floating) /* bot commands bg */;
    --interactive-normal: rgb(228, 228, 228) /* supposedly icons */;
    --interactive-muted: #4f545c /* muted channel, others */;
    --interactive-hover: rgb(130,130,130) /* hover color*/;
    --text-link: rgba(246, 255, 125, 0.726) /* hyperlink color */;
    --interactive-active: rgb(55, 248, 255) /* selected tab*/;
    --text-muted: rgba(163, 163, 163, 0.7) /* non important text */;
    --channels-default: rgba(199, 199, 199, 0.952) /* channel not selected not hovered*/;
    --background-accent: rgb(46, 46, 46); /* new messages */;
    --background-message-hover: rgba(0, 0, 0, 0.253) /* message background on hover */;
    --background-modifier-accent: rgba(95, 95, 95, 0.486) /* simmilar to border, but native to discord */;
    --background-modifier-hover: rgba(0, 0, 0, 0.534);
    --background-modifier-active: var(--background-modifier-hover);
    --background-modifier-selected: rgba(24, 50, 51, 0.5);
    --deprecated-card-bg: transparent /* some cards in the settings */;
    --scrollbar-thin-thumb:rgba(161, 161, 161, 0.712) /* thin scrollbar (such as channels in server) */;
    --scrollbar-thin-track: transparent /* thin scrollbar track */;
    --scrollbar-auto-thumb: rgb(189, 189, 189) /* thick scrollbar (such as active friends)*/;
    --scrollbar-auto-track: rgba(17, 17, 17, 0.315) /* thick scrollbar */;
	--bg-base-primary: var(--background-primary);
    /* Custom variables - Theme */
    --color-main: rgb(31, 149, 153) /* main color theme */;
    --background-image: url("https://i.imgur.com/IADgiAB.png");
    --background-filter: blur(1px) /* filter property applied to the background */;
    --background-markup: rgba(0, 0, 0, 0.267) /* background for code markup (``` blocks) */;
    --background-embed: rgba(134, 134, 134, 0.164) /* background for embeds (video links, ...) */;
    --background-modal: #111111 /* main color of a modal dialog */;
    --background-dropdown: rgb(65, 65, 65) /* background of options in a dropdown */;
    --background-color: #616161 /* background color (for svg backgrounds and such)*/;
    --folder-background: rgba(15, 68, 70, 0.938);
    --progress-thumb: rgb(71, 71, 71) /* volume bar thumb */;
    --progress-track-full: rgb(230, 230, 230) /* volume bar track - filled */;
    --progress-track-empty: rgba(109, 109, 109, 0.507) /* volume bar track - empty */;
}
.theme-light .bg__7adbf{
    /* Override background settings from base.css */
    background-repeat: repeat;
    background-size: auto;
}