@import url("https://mrtipson.github.io/DiscordCSS/css/server-bar.css");
@import url("https://mrtipson.github.io/DiscordCSS/css/base.css");
@import url("https://mrtipson.github.io/DiscordCSS/css/server-folders.css");
@import url("https://mrtipson.github.io/DiscordCSS/css/call.css");
@import url("https://mrtipson.github.io/DiscordCSS/css/channel-sidebar-utils.css");

.theme-light.theme-light {
    --logo-primary: rgb(0, 142, 236) /* discord nitro text, probably other stuff */;
    --header-primary: rgb(65, 65, 65) /* big text */;
    --header-secondary: #424242 /* subtext => id, active channel, code markdown, server of mention*/;
    --text-normal: rgb(10, 10, 10) /* normal text */;
    --background-primary: #fafafa /* chat, call */;
    --background-secondary: rgb(240, 240, 240) /* friends sidebar */;
    --background-secondary-alt: rgb(235, 235, 235) /* call controls, profile */ ;
    --background-tertiary: rgb(228, 228, 228) !important /* server list, find or start convo backgr*/;
    --background-floating: rgb(243, 243, 243) /* context menus */;
    --chat-background-default: rgb(236, 236, 236) /* message textarea */;
    --deprecated-store-bg: var(--background-primary) /* friends or activity or something */;
    --deprecated-quickswitcher-input-background: transparent /* quick search text box */;
    --deprecated-card-editable-bg: rgba(255, 255, 255, 0.24) /* cards in settings (safe messaging, checkbox options)*/;
	--autocomplete-bg: var(--background-floating) /* bot commands bg */;
    --interactive-normal: rgb(72, 72, 72) /* supposedly icons */;
    --interactive-muted: #777f8b93 /* muted channel, others */;
    --interactive-hover: rgb(15, 15, 15) /* hover color*/;
    --text-link: rgb(247, 28, 255) /* hyperlink color */;
    --interactive-active: rgb(255, 0, 221) /* selected tab*/;
    --interactive-text-active: var(--interactive-active) /* channel with unread messages */;
    --text-muted: rgba(5, 5, 5, 0.7) /* non important text */;
    --channels-default: rgba(97, 97, 97, 0.952) /* channel not selected not hovered*/;
    --background-mentioned: rgba(247, 28, 255, 0.089);
    --background-mentioned-hover: rgba(249, 64, 255, 0.151);
    --background-accent: rgb(255, 160, 242); /* new messages */;
    --background-message-hover: rgba(221, 221, 221, 0.281) /* message background on hover */;
    --background-modifier-accent: rgba(122, 122, 122, 0.486) /* simmilar to border, but native to discord */;
    --background-modifier-hover: rgba(255, 184, 246, 0.246);
    --background-modifier-active: rgba(255, 184, 246, 0.246);
    --background-modifier-selected: rgba(255, 163, 250, 0.267);
    --deprecated-card-bg: rgba(246, 246, 246, 0.753) /* some cards in the settings */;
    --scrollbar-thin-thumb:rgba(92, 92, 92, 0.657) /* thin scrollbar (such as channels in server) */;
    --scrollbar-thin-track: transparent /* thin scrollbar track */;
    --scrollbar-auto-thumb: rgba(83, 83, 83, 0.657) /* thick scrollbar (such as active friends)*/;
    --scrollbar-auto-track: rgba(85, 85, 85, 0.342) /* thick scrollbar */;
    --radio-group-dot-foreground: var(--interactive-active) /* radio button inner */;
	--bg-base-primary: var(--background-primary);
    /* Custom variables - Theme */
    --color-main: rgb(255, 100, 234) /* main color theme */;
    --background-mentioned-before: var(--interactive-active);
    --background-image: none;
    --background-filter: none/* filter property applied to the background */;
    --background-markup: rgba(21, 21, 21, 0.08) /* background for code markup (``` blocks) */;
    --background-embed: rgba(255, 255, 255, 0.534) /* background for embeds (video links, ...) */;
    --background-modal: #ffffff /* main color of a modal dialog */;
    --background-dropdown: rgb(203, 224, 233) /* background of options in a dropdown */;
    --background-color: #fafafa /* background color (for svg backgrounds and such)*/;
    --progress-thumb: rgb(71, 71, 71) /* volume bar thumb */;
    --progress-track-full: rgb(97, 97, 97) /* volume bar track - filled */;
    --progress-track-empty: rgba(109, 109, 109, 0.507) /* volume bar track - empty */;
    --folder-shadow: -1px 0px 3px 1px var(--color-main);
}
.theme-dark.theme-dark {
    --logo-primary: rgb(0, 142, 236) /* discord nitro text, probably other stuff */;
    --header-primary: rgb(243, 243, 243) /* big text */;
    --header-secondary: #ebebeb /* subtext => id, active channel, code markdown, server of mention*/;
    --text-normal: #d1d1d1 /* normal text */;
    --background-primary: transparent /* chat, call */;
    --background-secondary: rgba(0, 0, 0, 0.192) /* friends sidebar */;
    --background-secondary-alt: transparent /* call controls, profile */ ;
    --background-tertiary: rgba(0, 0, 0, 0.493) !important /* server list, find or start convo backgr*/;
    --background-floating: rgb(17, 17, 17) /* context menus */;
    --chat-background-default: rgb(16, 16, 16) /* message textarea */;
    --deprecated-store-bg: black /* friends or activity or something */;
    --deprecated-quickswitcher-input-background: rgb(42, 42, 42) /* quick search text box */;
    --deprecated-card-editable-bg: #4d4d4d3d /* cards in settings (safe messaging, checkbox options)*/;
	--autocomplete-bg: var(--background-floating) /* bot commands bg */;
    --interactive-normal: rgb(228, 228, 228) /* supposedly icons */;
    --interactive-muted: #4f545c /* muted channel, others */;
    --interactive-hover: rgb(130,130,130) /* hover color*/;
    --text-link: rgba(246, 255, 125, 0.726) /* hyperlink color */;
    --interactive-active: #0099ff /* selected tab*/;
    --text-muted: rgba(163, 163, 163, 0.7) /* non important text */;
    --channels-default: rgb(228, 228, 228) /* channel not selected not hovered*/;
    --background-accent: rgb(46, 46, 46); /* new messages */;
    --background-message-hover: rgba(0, 0, 0, 0.253) /* message background on hover */;
    --background-modifier-accent: rgba(95, 95, 95, 0.486) /* simmilar to border, but native to discord */;
    --background-modifier-hover: rgba(0, 0, 0, 0.534);
    --background-modifier-active: #0099ff11;
    --background-modifier-selected: #0099ff22;
    --deprecated-card-bg: transparent /* some cards in the settings */;
    --scrollbar-thin-thumb:rgba(161, 161, 161, 0.712) /* thin scrollbar (such as channels in server) */;
    --scrollbar-thin-track: transparent /* thin scrollbar track */;
    --scrollbar-auto-thumb: rgb(189, 189, 189) /* thick scrollbar (such as active friends)*/;
    --scrollbar-auto-track: rgba(17, 17, 17, 0.315) /* thick scrollbar */;
	--bg-base-primary: var(--background-primary);
    /* Custom variables - Theme */
    --color-main:  #55c1ff /* main color theme */;
    --background-image: none;
    --background-filter: blur(1px) /* filter property applied to the background */;
    --background-markup: rgba(0, 0, 0, 0.267) /* background for code markup (``` blocks) */;
    --background-embed: rgba(134, 134, 134, 0.164) /* background for embeds (video links, ...) */;
    --background-modal: #111111 /* main color of a modal dialog */;
    --background-dropdown: rgba(0, 0, 0, 0.918) /* background of options in a dropdown */;
    --background-color: #17181b /* background color (for svg backgrounds and such)*/;
    --progress-thumb: rgb(71, 71, 71) /* volume bar thumb */;
    --progress-track-full: rgb(230, 230, 230) /* volume bar track - filled */;
    --progress-track-empty: rgba(109, 109, 109, 0.507) /* volume bar track - empty */;
    /* Folder style */
    --folder-background: var(--background-floating);
    --folder-offset: 10px;
    --folder-shadow: -.5px 0px 3px 1px #0099ff;
}
.theme-light .bg__7adbf{
    /* Override background settings from base.css */
    background-repeat: repeat;
    background-size: auto;
}
